.dashboard {
    display: flex;
    
    @media (max-width: 991px) {
        flex-direction: column;
    }

    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__content {
        padding: 20px;
        background: #f5f6f8;
        flex: 1;
    }
}